/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы тут надо изменить*/
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-text-color-hover: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --rec-color: #fff1f7;
  --main-font: IBM Plex Mono;
  --main-fontsize: 18px;
  --bg-image: url(../images/cover-image-light.png);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-family: var(--main-font, Courier);
  font-size: var(--main-fontsize);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --header-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-text-color-hover: rgba(50, 49, 45, 0.4);
    --decor-color: #353430;
    --rec-color: #fff1f7;
    --main-font: IBM Plex Mono;
    --main-fontsize: 18px;
    --bg-image: url(../images/cover-image-light.png);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    font-family: var(--main-font, Courier);
    font-size: var(--main-fontsize);
  }
}

/*.page.theme_light {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-family: var(--main-font, Courier);
  font-size: var(--main-fontsize);
}
*/